header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav img:nth-child(1) {
  width: 24px;
  height: 24px;
}

nav img:nth-child(3) {
  width: 40px;
  height: 40px;
}

@media (min-width: 1024px) {
  .menu-links {
    display: flex;
    gap: 2rem;
  }

  header {
  display: flex;
  margin: 0.75rem;
  }

  a {
  color: var(--text-color-secondary);
  font: var(--text-md);
  text-decoration: none;
  }

  .profile {
    display: flex;
    
  }

  .profile img {
    width: 120px;
    height: 120px;
    flex-shrink: 0
  } 

  .about {
    outline: 1px red solid;
    margin-left: 2rem;
    margin-top: -1rem;

    width: 350px;
    flex: 0 0 auto;
  }

  .about span {
  font: var(--text-md);
  
  }

}