header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

nav {
  display: flex;
  align-items: center;
  gap: 1rem;
}

nav img:nth-child(1) {
  width: 24px;
  height: 24px;
}

nav img:nth-child(3) {
  width: 40px;
  height: 40px;
}

@media (min-width: 1024px) {
  .menu-links {
    display: flex;
    gap: 2rem;
  }

  main {
    display: flex;
    align-items: flex-start;
    gap: 4rem;
    max-width: 1280px;
    margin: 0 auto;

  }

  header {
  display: flex;
  margin: 0.75rem;
  }

  a {
  color: var(--text-color-secondary);
  font: var(--text-md);
  text-decoration: none;
  }

  .profile {
    display: flex;

  }

  .profile img {
    width: 120px;
    height: 120px;
    flex-shrink: 0
  } 

  .about {
  
    margin-left: 2rem;
    margin-top: -1rem;

    width: 350px;
    flex: 0 0 auto;
  }

  .about span {
  font: var(--text-md);
  
  }

  .info {
    margin-left: 31rem;
    margin-top: 5rem;
  } 

  .info ul{
    display: flex;
    flex-direction: column;
    gap:1rem ;
  }

  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1.5rem;
    max-width: none;
    margin: 0 auto;
    padding: 0 2rem;
  }

  .gallery img {
  width: 100%;
  height: auto;
}

  footer {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 1.5rem 2rem;
  }

  .links {
    display: flex;
    gap: 1.5rem
  }
}