.profile {
  max-width: 340px;
  margin: 2rem;
}

.profile img {
  width: 120px;
  height: 120px;
}

.profile p {
  color: var(--text-color-secondary);
  font: var(--text-md);
}

.profile h1 {
  color: var(--text-color-primary);
  padding-bottom: 1rem;
  padding-top: 1rem;

}

.info ul{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
}

.info li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.gallery {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  max-width: 328px;
}

.gallery img {
  width: 100%;
  height: auto;
}

footer {
  padding: 1rem 1rem 2rem;
  text-align: center;
  color: var(--text-color-secondary);
  font-size: 14px;
}
